{% extends "basic.html"%}

{% block head %}
{% endblock %}

{% block body %}
<br><br><br><br><br>
<center>
    <h2> Hospitals </h2>
</center>
<div class="container  mt-5 mb-3">
<br>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                  <th>Hospital name</th>
                  <th>Hospital Address</th>
                  <th>Hospital Specialization</th>
                  <th>Phone Number</th>
                  <th>Opening Time</th>
                  <th>Hospital in G-map</th>
            </tr>
        </thead>

        <tbody>
               
               
            <tr>
                <td>Sahid Gangalal National Heart Center</td>
                <td>Bansbari Rd, Kathmandu 44600</td>
                <td>Cardio</td>
                <td>+97714371322</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Sahid+Gangalal+National+Heart+Center/@27.7459689,85.3438355,15z/data=!4m5!3m4!1s0x0:0x363952f4fa777124!8m2!3d27.7459689!4d85.3438355">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            <tr>
                <td>Nepal Orthopedic Hospital</td>
                <td>Boudha Rd, Gokarneshwor 44600</td>
                <td>Orthopedic</td>
                <td>+97714911725</td>
                <td>24 hour</td>
                <td><a href="https://www.google.com/maps/place/Nepal+Orthopedic+Hospital/@27.7201707,85.3790023,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb1bb98d1989ff:0x2927de303a460578!8m2!3d27.720166!4d85.381191">Search in map</a></td>

                
            </tr>
            



              
        </tbody>
    </table>

</div>

{% endblock %}